body {
    scroll-behavior: smooth;
}

.about {
    /* background: linear-gradient(185deg, rgba(32,47,48,1) 13%, rgba(255,249,239,1) 100%); */
     /* background-color: #9FB1B7 !important; */
     /* background-image: linear-gradient(132deg, #25363a 0%, #78929e 100%); */
     background-color: #25363a;
     background-image: linear-gradient(0deg, #25363a 0%, #78929e 50%, #ffffff 100%);
}

.hide {
    opacity: 0;
    transform: translateY(-100px);
}

.reveal {
    opacity: 1;
    transition: all 2s ease-in-out;
    transform: translate(0);
}



/* .bento-gallery {
    background: linear-gradient(192deg, rgba(32,47,48,1) 13%, rgba(255,249,239,1) 100%);
} */